.col_text{
	padding-top:10px;
	padding-bottom: 10px;
}
.footer-style{
	padding-top: 20px
}
footer{
	
	background-color: black;
	margin-top: 30px;
}
ul{
	list-style: none;
	padding-top: 30px;
	padding-bottom: 10px;
}
li{
	display: inline;
	margin-left: 280px;



}
li a{
	
	color: white;
	text-decoration: none;
	

}
li a:hover{
	color: red;
	text-decoration: none;
}